.contacts {
    height: 100%;
    padding-top: 30vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    background:
        linear-gradient(to right, rgba($primary-color, 0.9), rgba($primary-color, 0.3)),
        url('../../image/model-2.jpg') center right;
    background-size: cover;

    h2 {
        font-size: 2rem;
        margin-bottom: 2rem;
        font-family: 'LeagueSpartan-Bold', monospace;
    }

    &__list {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 2rem;
        font-size: 1.2rem;

    }

    .social-icons {
        position: initial;
        margin-top: 2rem;
    }
}