$primary-color: #272727;
$secondary-color: rgb(109, 93, 255);
$attribute-color: blue;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none;
}

@mixin transition-easy {
    transition: all 0.5s ease-in-out;
}

@function set-text-color($color) {
    @if (lightness($color) > 40%) {
        @return #000;
    }

    @else {
        @return #fff;
    }
}

@mixin medium-md {
    @media screen and (min-width: 768px) {
        @content;
    }
}

@mixin medium-lg {
    @media screen and (min-width: 1024px) {
        @content;
    }
}

@mixin medium-xl {
    @media screen and (min-width: 1600px) {
        @content;
    }
}

@mixin animation-text {
    animation: glitch 1s linear infinite;

    @keyframes glitch {

        2%,
        64% {
            transform: translate(2px, 0) skew(0deg);
        }

        4%,
        60% {
            transform: translate(-2px, 0) skew(0deg);
        }

        62% {
            transform: translate(0, 0) skew(5deg);
        }
    }

    div:before,
    div:after {
        content: attr(title);
        position: absolute;
        left: 0;
    }

    div:before {
        animation: glitchTop 1s linear infinite;
        clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
    }

    @keyframes glitchTop {

        2%,
        64% {
            transform: translate(2px, -2px);
        }

        4%,
        60% {
            transform: translate(-2px, 2px);
        }

        62% {
            transform: translate(13px, -1px) skew(-13deg);
        }
    }

    div:after {
        animation: glitchBotom 1.5s linear infinite;
        clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
        -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
    }

    @keyframes glitchBotom {

        2%,
        64% {
            transform: translate(-2px, 0);
        }

        4%,
        60% {
            transform: translate(-2px, 0);
        }

        62% {
            transform: translate(-22px, 5px) skew(21deg);
        }
    }
}

@mixin main-text-animation {
    @keyframes showTopText {
        0% {
            transform: translate3d(0, 100%, 0);
        }

        40%,
        60% {
            transform: translate3d(0, 50%, 0);
        }

        100% {
            transform: translate3d(0, 0, 0);
        }
    }

    @keyframes showBottomText {
        0% {
            transform: translate3d(0, -100%, 0);
        }

        100% {
            transform: translate3d(0, 0, 0);
        }
    }

    & {
        transform: translate(-50%, -50%);

    }


    &>div.text-top div {
        animation: showTopText 1s;
        animation-delay: 0.5s;
        animation-fill-mode: forwards;
        bottom: 0;
        transform: translate(0, 100%);
    }


    &>div.text-bottom div {
        animation: showBottomText 0.5s;
        animation-delay: 1.75s;
        animation-fill-mode: forwards;
        top: 0;
        transform: translate(0, -100%);
    }
}