$primary-color: #272727;
$secondary-color: rgb(109, 93, 255);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none;
}

@mixin transition-easy {
    transition: all 0.5s ease-in-out;
}

@function set-text-color($color) {
    @if (lightness($color) > 40%) {
        @return #000;
    }

    @else {
        @return #fff;
    }
}

@mixin medium-md {
    @media screen and (min-width: 768px) {
        @content;
    }
}

@mixin medium-lg {
    @media screen and (min-width: 1024px) {
        @content;
    }
}

@mixin medium-xl {
    @media screen and (min-width: 1600px) {
        @content;
    }
}