@include medium-md {
	.menu-btn {
		visibility: hidden;
	}

	.home__text {


		&h1,
		span:not(.full__name):not(.home__name--last) {
			font-size: 2rem;
		}
	}

	.full__name {
		font-size: 4rem;
	}

	.home__name,
	span {
		padding: 10px auto;
	}

	.nav {
		visibility: visible;

		&__logo {
			visibility: hidden;
			position: fixed;
		}

		.menu-nav {
			display: block;
			transform: translateY(0);
			height: 100%;
			background: transparent;
			text-align: right;

			&__item {
				display: inline;
				padding-right: 1.5rem;

			}

			&__link {
				font-size: 1.5rem;
				font-weight: 500;
			}
		}
	}

	.about {
		display: grid;
		grid-template-columns: 1fr 3fr;


		&__bio-image {
			height: 100vh;
			width: 46vw;
			background:
				linear-gradient(to right, rgba($primary-color, 0.9), rgba($primary-color, 0.3)),
				url('../../image/model-2.jpg') center;
			background-size: cover;

			p {
				margin-bottom: 2.5rem;
			}
		}

		&__info {
			display: flex;
			align-items: center;
		}

		&__bio {
			font-size: 1.1rem;
			background-color: rgba($primary-color, 0.2);
			text-align: center;
			padding: 0 1rem 20px 1rem;
			box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
			width: 40vw;
			margin: 1rem 7rem 0 auto;
			line-height: 1.3rem;

			.text-secondary {
				padding: 0.7rem 0;
				font-weight: bold;
			}
		}

		.social-icons {
			display: flex;
			flex-direction: row;
			visibility: visible;
			font-size: 1.1rem;
		}

		footer {
			transform:
				rotate(0deg);
		}
	}

	.projects {
		&__bio-image {
			height: 40vh;
		}

		&__items {
			grid-template-columns: repeat(2, 1fr);
		}

		.text-secondary {
			font-size: 3rem;
		}
	}


	.contacts__list {
		grid-template-columns: repeat(2, 1fr);
	}
}

@include medium-lg {
	.projects {
		&__items {
			grid-template-columns: repeat(2, 1fr);
		}
	}

	.nav__logo {
		visibility: hidden;
		position: fixed;
	}

	.menu-nav__link {
		font-size: 1.5rem;
		font-weight: bold;
	}

	.contacts__list {
		grid-template-columns: repeat(3, 1fr);
	}

	.about {
		display: flex;
		grid-template-columns: 1fr 3fr;
		height: 100vh;

		&__bio-image {
			height: 100vh;
			width: 46vw;
			background:
				linear-gradient(to right, rgba($primary-color, 0.9), rgba($primary-color, 0.3)),
				url('../../image/model-2.jpg') center;
			background-size: cover;




			p {
				margin-bottom: 2.5rem;
			}
		}

		&__info {
			display: flex;
			align-items: center;
			font-size: 2fr;
		}

		&__bio {
			text-align: center;
			padding: 0 1rem 50px 1rem;
			box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
			width: 40vw;
			margin: 2rem 15% 0 auto;
			background-color: rgba($primary-color, 0.4);

			.text-secondary {
				padding: 0.7rem 0;
				font-weight: bold;
			}

			&-main {
				font-size: 1.2rem;
				line-height: 1.2;
			}
		}

		.jobs {
			width: 30vw;
			margin: 2rem auto 0 auto;
			display: grid;
			grid-template-columns: 1fr;
			grid-gap: 2rem;

			&__job {
				background: lighten($primary-color, 10%);
				padding: 1rem;
				border-bottom: 5px solid $secondary-color;
				font-size: 1.1rem;
			}
		}

		.social-icons {
			display: flex;
			flex-direction: row;
			visibility: visible;
			font-size: 1.1rem;
		}

		footer {
			transform:
				rotate(0deg);
		}

		&__bio {
			font-size: 1rem;
		}
	}
}

@include medium-xl {
	.projects__bio-image {
		height: 50vh;
	}

	.nav__logo {
		visibility: hidden;
		position: fixed;
	}

	.about {
		display: grid;
		grid-template-columns: 1fr 3fr;
		height: 100vh;

		&__bio-image {
			height: 100vh;
			width: 46vw;
			background:
				linear-gradient(to right, rgba($primary-color, 0.9), rgba($primary-color, 0.3)),
				url('../../image/model-2.jpg') center;
			background-size: cover;



			p {
				margin-bottom: 2.5rem;
			}
		}

		&__info {
			display: grid;
			align-items: center;
		}

		&__bio {
			text-align: center;
			padding: 0 1rem 20px 1rem;
			box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
			width: 40vw;
			margin: 2rem auto 0 auto;

			.text-secondary {
				padding: 0.7rem 0;
				font-weight: bold;
			}
		}

		.jobs {
			width: 30vw;
			margin: 2rem auto 0 auto;
			display: grid;
			grid-template-columns: 1fr;
			grid-gap: 2rem;

			&__job {
				background: lighten($primary-color, 10%);
				padding: 1rem;
				border-bottom: 5px solid $secondary-color;
				font-size: 1.2rem;
			}
		}

		.social-icons {
			display: flex;
			flex-direction: row;
			visibility: visible;
			font-size: 1.1rem;
		}

		footer {
			transform:
				rotate(0deg);
		}

		&__bio {
			font-size: 1.5rem;
		}
	}
}